---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pårørende Netværk - Misbrugsportalen - Kampagne</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <Navigation />
    <Header title="Pårørende Netværk">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eligendi esse rerum cupiditate, quas vero harum magnam maiores aliquid aspernatur, quisquam asperiores magni earum laboriosam. Officiis magnam fugiat vel inventore.</p>
    </Header>
    <Section title="Overskrift" backgroundColor="#f3f4f6">
      <div class="cards">
        <Card name="card 1" role="tekst" description="Some text that describes me lorem ipsum ipsum lorem." imageSrc="" />
        <Card name="card 2" role="tekst" description="Some text that describes me lorem ipsum ipsum lorem." imageSrc="" />
        <Card name="card 3" role="tekst" description="Some text that describes me lorem ipsum ipsum lorem." imageSrc="" />
      </div>
    </Section>
    <Footer />
  </body>
</html>
