---

/*importerer cards */ 
import Cardcomplete from "../components/cards/Cardcomplete.astro"
import Completeforstecard from "../components/cards/Completeforstecard.astro"

---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pårørende Netværk - Misbrugsportalen - Kampagne</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
   
  <Completeforstecard overskrift="Hvordan arbejder vi?"/>

  <Cardcomplete overskrift="Historier fra våres frivillige"/>


    <card1 />
  </body>
</html>
