---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Fra Html</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Siden er adapteret fra denne tutorial: https://www.w3schools.com/howto/howto_css_about_page.asp -->
    <!-- Billeder er fra https://unsplash.com/ -->
  </head>
  <body>
    <Navigation />
    <Header title="About">
      <p>Some text about who we are and what we do.</p>
      <p>Resize the browser window to see that this page is responsive by the way.</p>
    </Header>
    <Section title="Our Team" backgroundColor="#f3f4f6">
      <div class="cards">
        <Card name="Jane Doe" role="CEO & Founder" description="Some text that describes me lorem ipsum ipsum lorem." mail="jane@example.com" imageSrc="./imgs/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" />
        <Card name="Michelle Ross" role="Art Director" description="Some text that describes me lorem ipsum ipsum lorem." mail="michelle@example.com" imageSrc="./imgs/christina-wocintechchat-com-LhJmuaUWxLU-unsplash.jpg" />
        <Card name="John Doe" role="Designer" description="Some text that describes me lorem ipsum ipsum lorem." mail="john@example.com" imageSrc="./imgs/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" />
      </div>
    </Section>
    <Footer />
  </body>
</html>
