---
import ButtonLight from "./ButtonLight.astro";
---

<nav>
  <p class="logo"><a href="#">LOGO</a></p>
  <ul>
    <li><a href="#">Bliv frivillig</a></li>
    <li><a href="#">punkt 2</a></li>
    <li><ButtonLight text="Find os" /></li>
  </ul>
</nav>
