---
import FooterCard from "./FooterCard.astro";
import ButtonLight from "./ButtonLight.astro";
---

<footer>
  <div>
    <h2 class="logo"><a href="#">Footer</a></h2>
  </div>
  <div class="info">
    <FooterCard title="Information">
      <ul>
        <li>punkt 1</li>
        <li>punkt 2</li>
      </ul>
    </FooterCard>
    <FooterCard title="Kontakt">
      <ul>
        <li>Pårørende Netværk</li>
        <li>Adresse</li>
        <li>blabla</li>
        <li><ButtonLight text="Kontakt os" /></li>
      </ul>
    </FooterCard>
  </div>
</footer>
