---
import FooterCard from "./FooterCard.astro";
import ButtonLight from "./ButtonLight.astro";
---

<footer>
  <div>
    <h2 class="logo"><a href="#">LOGO</a></h2>
  </div>
  <div class="info">
    <FooterCard title="Information">
      <ul>
        <li>Blog</li>
        <li>Careers</li>
      </ul>
    </FooterCard>
    <FooterCard title="Contact">
      <!-- Data from https://www.fakexy.com/-->
      <ul>
        <li>220 Park Hills Plaza</li>
        <li>Altoona</li>
        <li>Pennsylvania</li>
        <li>(814) 942-4223</li>
        <li><ButtonLight text="Contact Us" /></li>
      </ul>
    </FooterCard>
  </div>
</footer>
