---
import ButtonLight from "./ButtonLight.astro";
---

<nav>
  <p class="logo"><a href="#">LOGO</a></p>
  <ul>
    <li><a href="#">Team</a></li>
    <li><a href="#">Information</a></li>
    <li><ButtonLight text="Contact" /></li>
  </ul>
</nav>
